.aiiif-mirador {
    height: 100%;
}

.aiiif-mirador * {
    font-family: "Frutiger Neue", sans-serif!important;
}

.aiiif-mirador #addBtn {
    display: none;
}

.aiiif-mirador .mirador-companion-window-header h3 {
    margin-bottom: 0!important;
}

.aiiif-mirador .ocr-line {
    color: inherit;
}

.aiiif-mirador button,
.aiiif-mirador a {
    color: #069;
}

.aiiif-mirador header {
    padding: 0;
}

.aiiif-mirador .mirador-window-top-bar {
    border: 0!important;
}

.aiiif-mirador .mirador-companion-window-header h3 {
    margin-bottom: 0!important;
    display: inline-flex;
    flex-direction: column; 
    align-self: flex-start; 
    justify-content: flex-start; 
    align-items: self-start; 
    padding-top: 12px;
}

.aiiif-mirador .mirador-companion-window-header h3 > [role="button"] {
    margin: 6px 0 15px;
}

.aiiif-mirador .mirador-companion-window-title-controls {
    width: 100%;
}

/** 
 * Not sure if this is safe, as it hides the mirador brand too... 
 **/
/*
.aiiif-mirador .mirador-workspace-control-panel {
    display: none;
}
.aiiif-mirador .mirador-workspace-viewport {
    padding-left: 0;
}
*/